.radioFace {
  filter: grayscale(1);
  font-size: 2rem;
}
.radioFace:hover {
  filter: grayscale(0);
  scale: 1.2;
}
#Title {
  width: 15rem;
  height: 2.5rem;
}
input[type="radio"]:checked + label {
  filter: grayscale(0);
  scale: 1.4;
}
input[type="radio"] {
  display: none;
  border-radius: 0 10px 10px 0;
  border: none;
  box-shadow: 2px 2px 5px black;
  transition: 180ms all ease-in-out;
}
input:focus {
  scale: 1.05;
  outline: 2px solid black;
}
input {
  border-radius: 10px;
}
textarea {
  overflow: scroll;
  font-size: 1.2rem;
}

.dayRating::before {
  content: "Your Mood";
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(15px);
  text-decoration: underline;
}
.dayRating {
  margin-top: 1rem;
  backdrop-filter: blur(15px);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  width: 23rem;
  box-shadow: 0px 2px 5px black;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  gap: 1.1rem;
  width: 50rem;
  height: 60rem;
  box-shadow: 0px 2px 5px black;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  font-size: 3rem;
}

#PostSaveButton {
  width: 10rem;
  height: 3rem;
  background-color: rgb(52, 204, 198);
  border-radius: 15px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0px 2px 5px black;
}
#PostSaveButton:hover {
  scale: 1.05;
}

.cancelButton {
  color: red;
  filter: drop-shadow(0px 0px 10px white);
  text-decoration: underline;
}
#PostBody {
  height: 30rem;
  width: 40rem;
}

@media (max-width: 480px) {
  .post {
    font-size: 2rem;
  }
  #PostBody {
    width: 30rem;
  }
}
