<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/headInfos")%>

    <link rel="stylesheet" type="text/css" href="css/createProfile.css" />
    <title>Create Profile</title>
  </head>
  <body class="container">
    <%- include("partials/header")%>
    <h1>
      Create your profile<br />
      <hr />
    </h1>
    <div class="createProfile">
      <form method="post" id="CreateProfileForm">
        <fieldset>
          <label for="Name">Name:</label>
          <input
            type="text"
            name="name"
            id="Name"
            minlength="4"
            required
          /><br />
          E-Mail: <input type="email" name="email" id="Email" required /><br />
          Password:
          <input
            type="password"
            name="password"
            id="Password"
            required
            minlength="6"
          /><br />
          Confirm Password:
          <input
            type="password"
            name="confirmPassword"
            id="CPassword"
            required
          /><br />
          <div id="Error"></div>
        </fieldset>
      </form>
      <button type="submit" form="CreateProfileForm" id="CreateUser">
        Create Profile
      </button>
    </div>
    <%- include('partials/footer') %>
    <script src="scripts/formValidate.js"></script>
  </body>
</html>
