<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/body.css" />
    <link rel="stylesheet" type="text/css" href="css/posts.css" />
    <title>Diary - My Posts</title>
  </head>
  <body class="container">
    <%- include("partials/headerLogedin")%>

    <div class="posts">
      <br />
      <div class="post">
        <a class="editButton">Edit</a>
        <button class="removeButton" onclick="deletePost">Remove</button>
      </div>
      <br />
    </div>
    <%- include('partials/footer') %>
    <script src="scripts/script.js"></script>
  </body>
</html>
