<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/headInfos")%>

    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <title>Diary - Home</title>
  </head>
  <body class="container">
    <%- include("partials/header")%>

    <div class="home">
      <h1>
        Your, <span>UNIQUE</span>, <span>SIMPLE</span> and
        <span>BEAUTIFUL</span> Diary<br />
        <hr />
      </h1>

      <img src="images/writePostimg.png" />
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
