<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Diary</title>
  </head>
  <body class="container">
    <!-- <%- include("partials/navbar", {title:"Diary - Home"})%> <%=variavel%> -->
    <header>
      <nav>
        <a href="http://" class="navItem">HOME</a>
        <a href="http://" class="navItem">CREATE PROFILE</a>
        <a href="http://" class="loginButton">LOGIN</a>
      </nav>
    </header>
    <div class="main">
      <h1>
        Your, <span>UNIQUE</span>, <span>SIMPLE</span> and
        <span>BEAUTIFUL</span> Diary<br />
        <hr />
      </h1>

      <img src="images/writePostimg.png" />
    </div>

    <footer>Created by BrenoMaini</footer>
  </body>
</html>
