<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/headInfos")%>

    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <title>Diary - Home</title>
  </head>
  <body class="container">
    <%- include("partials/header")%>

    <div class="login">
      <img src="/images/login.svg" alt="loginIcon" srcset="" />
      <form method="post" id="LoginForm">
        <label for="Email">E-mail:</label
        ><input type="email" name="email" id="Email" required /><br /><label
          for="Password"
          >Password:</label
        ><input type="password" name="password" id="Password" required />
      </form>
      <p id="WrognPW"></p>

      <button type="submit" form="LoginForm">Login</button>
      Demo Account: <br />email - demo@demo.com <br />
      pw - demo123
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
