<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/footer.css" />

  <footer>
    Created by BrenoMaini<br />
    <a href="https://iconscout.com/icons/" target="_blank"> Icons: IconScout</a>
  </footer>
</html>
