<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/footer.css" />

  <footer>
    <a href="https://brenomaini.netlify.app/">Created by BrenoMaini</a><br />
    <a href="https://iconscout.com/icons/" target="_blank"> Icons: IconScout</a>
  </footer>
</html>
