<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/header.css" />


<header>
  <nav>
    <a href="#" class="navItem">Write Post</a>
    <a href="#" class="navItem">My Posts</a>
    <a href="#" class="navItem myProfile">MyProfile</a>
    <a href="#" class="signOut">SIGN OUT</a>
  </nav>
</header>

</html>