<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/header.css" />


<header>
  <nav>
    <a href="/" class="navItem">HOME</a>
    <a href="/createProfile" class="navItem">CREATE PROFILE</a>
    <a href="/login" class="loginButton">LOGIN</a>
  </nav>
</header>

</html>